{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Détails
{% endblock %}
{% block content %}
    <p>Quand on parle en donnant trop de détails, on perd l'attention de notre interlocuteur, ou quelque chose comme ça...</p>
{% endblock %}